#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 10px;
}

.text-bubble {
  padding: 5px;
}

.user-bubble {
  background-color: #3b82f6;
  color: white;
  text-align: right;
  padding: 10px;
  margin: 10px;
  width: fit-content;
  margin-left: auto;
}

.assistant-bubble {
  background-color: #e5e7eb;
  color: black;
  text-align: left;
  padding: 10px;
  margin: 10px;
  width: fit-content;
  margin-right: auto;
}